version: "3.2"
services:
    dynamodb:
      image: amazon/dynamodb-local:latest
      ports:
        - "8000:8000"
    w4stest:
      image: w4stest:v3
      environment:
        - AWS_ACCESS_KEY_ID=dummy
        - AWS_SECRET_ACCESS_KEY=dummy
        - AWS_REGION=eu-west-1
      ports:
        - "5000:5000"